@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 20px 90px;
}

body {
    background-image: url("../assets/illustrations/single-wave-pattern.svg");
    font-family: 'Montserrat', sans-serif;
}

section.landing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 97px;
}

.logo {
    position: absolute;
    height: 550px;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.landing-text {
    width: 500px;
}

.landing-logo {
    height: 400px;
    background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
    border-radius: 35px;
    width: 470px;
    margin-left: 160px;
    margin-top: 50px;
    position: relative;
}

p, span {
    color: #7C899C;
    margin-top: 30px;
}

h1 {
    font-weight: 900;
    font-size: 150px;
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 80%;
    margin: 0;
}

.title {
    background: #252F3D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.view-products, .product-points {
    text-transform: uppercase;
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
    padding: 18px;
    border-radius: 15px;
    border: 0px;
    color: white;
    margin-left: 97px;
    width: 400px;
}

.view-products:hover {
    width: 397px;
}

.view-products img {
    position: absolute;
}

.walkthrough {
    height: 360px;
    background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%); 
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.img-walkthrough {
    height: 300px;
    width: 300px;
    background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
    border-radius: 32px;
}

.walkthrough-card {
    height: 460px;
    width: 340px;
    margin-left: 100px;
    text-align: left;
    background-color: white;
    color: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
    border: 1px #DAE4F2 solid;
    border-radius: 32px;
}

.products {
    margin: 170px 50px;
    text-transform: uppercase;
    font-size: 35px;
    background: #FFFFFF
}

.pages {
    border: 1px #7C899C solid;
    border-radius: 20px;
    padding: 10px;
}

.product {
    margin-top: 40px;
    border: 1px #DAE4F2 solid;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

.product-points {
    width: 250px;
    margin-left: 28px;
    font-size: 15px;
}

.product-points:hover {
    width: 247px;
}

footer {
    text-align: center;
}

.all-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#product-name {
    color: #252F3D;
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}

#product-category {
    color: #7C899C;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.product img {
    margin: 22px;
}

#card-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    transform: rotate(-3deg);
    margin-left: 280px;
    z-index: 1;
    position: absolute;
    right: 800px;
}

#card-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    left: calc(51% - 532px/2 + 0.32px); 
    z-index: 2;
    position: absolute;
    top: 750px;
}

#card-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    transform: rotate(3deg);
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    top: 18.54px;
    z-index: 3;
    margin-left: 650px;
}

.walkthrough-card h2 {
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

.card-paragraph {
    font-size: 16px;
    margin-bottom: 10px;
}

label, select, .product-order, button, .pages {
    font-size: 18px;
}

label, .product-order, .pages {
    color: #7C899C;
    text-transform: initial;
}

select, .pages {
    margin-right: 50px;
}

.pages {
    margin-left: 90px;
}

select {
    border: 1px solid #DAE4F2;
    border-radius: 16px;
    padding: 14px 6px 14px 22px;
    width: 170px;
    height: 47px;
}

.order-button {
    padding: 8px 24px;
    gap: 10px;
    background: #E6F0FF;
    border-radius: 12px;
    border: none;
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #E6F0FF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

.order-button:hover {
    color: #f6f9fd;
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%); 
}

.user-information {
    font-style: normal;
    margin-left: 875px;
    border-radius: 16px;
    background: #FFFFFF;
    border: 1px solid #DAE4F2;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    padding: 10px;
    width: 300px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h4 {
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h4 span {
    background: #252F3D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

footer {
    padding: 50px;
    background: #FFFFFF;
    position: relative;
}

footer img {
    position: absolute;
    top: 47px;
    left: 575px;
}

footer a {
    margin-left: 23px;
    margin-top: 10px;
    text-decoration: none;
    color: #7C899C; 
}

.quantity-products {
    text-align: center;
    font-size: 16px;
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 300;
}

.product button img {
    position: absolute;
}