# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/challenge-aerolab/node_modules
/challenge-aerolab/.pnp
/challenge-aerolab/.pnp.js

# testing
/challenge-aerolab/coverage

# next.js
/challenge-aerolab/.next/
/challenge-aerolab/out/

# production
/challenge-aerolab/build

# misc
/challenge-aerolab/.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/challenge-aerolab/.env*.local

# vercel
/challenge-aerolab/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
