.walkthrough_cards{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50px);
}
.walkthrough_section_BG{
    position: relative;
    z-index: 1;
    transform: translateY(-500px);
    height: 400px;
    background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
}