body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-content {
  max-width: 1316px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
